{% if pay_response %}
  <div class="pay-message">
    {% if pay_response.error_code != '0' %}
      <h2 class="pay-error">{{ pay_response.message }}</h2>
    {% endif %}
    {% if pay_response.error_code == '0' %}
      <h2 class="pay-success">{{ pay_response.message }}</h2>
    {% endif %}
    {% if pay_response.jcc_order_id %}
      <div class="order-id">
        {{ pay_response.jcc_order_id }}
      </div>
    {% endif %}
    {{ pay_response.order_items }}
  </div>
  {% if pay_response is empty %}
    <h1>{{ 'Payment data not received'|t }}</h1>
  {% endif %}
  {% if pay_response.error_message %}
    <h4 class="pay-error">{{ pay_response.error_message }}</h4>
    {% if pay_response.error_mail %}
      <a href="mailto:{{ pay_response.error_mail }}">{{ pay_response.error_mail }}</a>
    {% endif %}
  {% endif %}
{% endif %}

